{% extends"base.html.twig" %}
{% block title %}Войти | Wheels-shop{% endblock %}
{% block authReg %}<li><a href="{{ path('login')}}" class="active"><i class="fa fa-lock"></i>Авторизация/Регистрация</a></li>{% endblock %}
{% block body %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Войдите в свой аккаунт</h2>
						<form action="#">
							<input type="text" placeholder="Логин" />
							<input type="password" placeholder="Пароль" />
							<span>
								<label for="member">Запомнить меня</label>
								<input id="member" type="checkbox" class="checkbox">
							</span>
							<button type="submit" class="btn btn-default">Войти</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">ИЛИ</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Регистрация</h2>
						<form action="#">
							<input type="text" placeholder="Логин"/>
							<input type="email" placeholder="Email"/>
							<input type="password" placeholder="Пароль"/>
							<input type="text" placeholder="Имя">
							<input type="text" placeholder="Фамилия">
							<input type="password" placeholder="Адрес доставки">
							<input type="password" placeholder="Индекс">
							<input type="password" placeholder="Телефон">
							<button type="submit" class="btn btn-default">Зарегистрироваться</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}

	{% block javascripts %}
		<script src="js/jquery.js"></script>
		<script src="js/price-range.js"></script>
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/main.js"></script>
	{% endblock %}