{% extends"base.html.twig" %}
{% block title %}Details | Wheels-shop{% endblock %}
{% block body %}

<section>
	<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div class="shipping text-center"><!--shipping-->
							<img src="/images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

				<div class="product-data" data-product="{{ product.content }}">
					<!-- Передаю объект product в js -->
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product" id="image-container">
								<!-- Главная картинка -->
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    <div class=" container row" id="litleImage-container">
										<!-- Маленькие картинки -->
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#" id="prev-product">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#" id="next-product">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information" id="product-container">{# note:
								<!--СКИДКА<img src="/images/product-details/new.jpg" class="newarrival" alt="" />-->
								<h2>Tigar Winter 205/55R16 94H</h2>
								<p>Web ID: 1089772</p>
								<!--Рейтинг--><img src="/images/product-details/rating.png" alt="" />


									<p><b class="bold price">50p</b></p>
									<p><b>Назначение:</b> Легковые авто</p>
									<p><b>Производитель:</b>Tigar</p>
									<p><b>Диаметр:</b> 16"</p>
									<p><b>Ширина:</b> 205</p>
									<p><b>Высота:</b> 55</p>
									<p><b>Сезон:</b> Летняя</p>
									<p><b>Конструкция:</b> радиальные</p>
									<p><b>Способ герметизации:</b> бескамерные</p>
									<p><b>Индекс скорости:</b> T (до 190 км/ч)</p>
									<p><b>Индекс нагрузки:</b> 91</p>
									<p><b>Шипы:</b> без шипов</p>
									<p><b>Дата выхода на рынок:</b> 2014 г.</p>

									<a href="#" class="btn btn-default cart">
										<i class="fa fa-shopping-cart"></i>
										В корзину
									</a>#}
							</div>
						</div>
						<br>
					<div class="category-tab shop-details-tab">
									<div class="recommended_items"><!--recommended_items-->
										<br>
						<h2 class="title text-center">Интересные предложения</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">

										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend1.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend2.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend3.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
								</div>

								<div class="item">
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend1.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend2.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="/images/home/recommend3.jpg" alt="" />
														<h2>$56</h2>
														<p>Easy Polo Black Edition</p>
														<ul class="nav nav-pills nav-justified">
															<li><a href="#"><i class="fa fa-plus-square"></i>Подробнее</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->
					</div>
				</div>

		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script src="/js/jquery.js"></script>
	<script src="/js/price-range.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.prettyPhoto.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/details.js"></script>
{% endblock %}
